{% extends "base.html" %}

{% block title %}My Site | Change Password{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6">
		{% if message %}
		<div class="alert alert-info">{{ message }}</div>
		{% endif %}

		<form method="post" action="">
		{% csrf_token %}
			<table class="table table-bordered">
				{{ change_password_form }}
				<tr>
					<td colspan="2" style="text-align: right"><input type="submit" class="btn" value="Change Password" /></td>
				</tr>
			</table>
		</form>
	</div>
</div>
{% endblock %}
