*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
*.orig
bin
build
develop-eggs
downloads
env
eggs
fake-eggs
parts
dist
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.pyc
*.pyo
*.tmp*
.DS_Store
.Trash
var
*.sql
*.sqlite
*.db
*.log
develop
quizproject/development.py
quizproject/production.py
quizproject/settings.py
quizproject/stage.py
fabfile.py
smartadmin
