{% extends "quiz/base.html" %}

{% block title %}{{ quiz.name }}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{{ quiz.name }}<br><small>{{ candidate }}</small></h1>
</div>

<div class="col-md-3">
  <div class="row">
    <div class="panel panel-info">
      <div class="panel-heading">
          <h4>Questions</h4>
      </div>
      <div class="panel-body">
        <div class="list-group">
          {% for question in quiz_questions %}
          <a class="list-group-item" id="question-nav-{{ question.id }}" onclick="show_question({{ question.id }})"><strong>{{ question.get_content_summary }}</strong></a>
          {% endfor %}
            <a href="#" onclick="submit_quiz()" class="list-group-item list-group-item-success">Submit Quiz for Grading!</a>
        </div>
      </div>
    </div>
  </div>
  <form role="form" method="post" action="{% url 'quiz' session.id %}">{% csrf_token %}
    <button id="submit-quiz" class="hidden" type="submit">submit quiz</button>
  </form>
  <div class="row">
      <a href="{% url 'quiz_dashboard' %}" class="btn btn-info btn-block">Back Home</a>
  </div>
</div>

<div class="col-md-9">
{% for question, choices in quiz_questions.items %}
    <div id="question-{{ question.id }}" name="question-ordinal-{{ question.ordinal }}" class="panel panel-info" style="display: none">
      <div class="panel-heading">
        <h4 class="panel-title">Question: <strong>{{ question.ordinal }}</strong></h4>
      </div>
      <div class="panel-body">
          <p>{{ question.content|linebreaks }}</p>
        {% if question.is_multiple_choice %}
          {% for choice in choices %}
          <div class="radio">
            <label>
              <input type="radio" class="mult-choice" name="question-{{ question.id }}-choice" id="question-{{ question.id }}-choice-{{ choice.letter }}" value="{{ choice.letter }}">{{ choice.letter|upper }}. <br>{{ choice.content|linebreaks }}
            </label>
          </div>
          {% endfor %}
        {% else %}
        <textarea id="response-{{ question.id }}" class="form-control" style="resize:vertical;" rows="20"></textarea>
        {% endif %}
      </div>
      <div class="panel-footer">
        {% if not forloop.parentloop.last or not forloop.last %}
        <button class="btn btn-info" onclick="next_question({{ question.id }})">Next Question <span class="glyphicon glyphicon-arrow-right"></span></button>
        {% else %}
        {% endif %}
      </div>
    </div>
{% endfor %}
</div>

{% endblock %}

{% block javascript %}
{% include 'quiz/js/quiz.js' %}
{% endblock %}
