{% extends "base.html" %}

{% block title %}{{ quiz.name }}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{{ quiz.name }}<br><small>{{ candidate }}</small></h1>
</div>

<div class="col-md-4">
  <div class="row">
    <div class="panel panel-info">
      <div class="panel-heading">
          <h4>Questions</h4>
      </div>
      <div class="panel-body">
          <a href="#overview" class="list-group-item" onclick="show_overview()"><strong>Overview<span class="glyphicon glyphicon-info-sign pull-right text-info"></span></strong></a>
        <div class="list-group">
          {% for questions in quiz_questions %}
          <a class="list-group-item" id="question-nav-{{ question.id }}"><strong>{{ question }}</strong></a>
          {% endfor %} 
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <a href="{% url 'quiz_dashboard' %}" class="btn btn-info btn-block">Back Home</a>
  </div>
</div>

<div id="overview" class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Question Overview</h3>
    </div>
    <div class="panel-body">
        <p class="lead">{{ quiz.instructions|linebreaks }}</p>
      <br>
      {% for questions in quiz_questions %}
      <br>
        <p>{{ question.ordinal }}. {{ question.content }}</p>
      <br>
      {% endfor %}
    </div>
    <div class="panel-footer">
      <p>Use the accordion under 'Questions' to access individual questions.</p>
    </div>
  </div>
</div>

{% for questions in quiz_questions %}
  <div class="col-md-8">
    <div id="question-{{ question.id }}" class="panel panel-info" style="display: none">
      <div class="panel-heading">
          <h4 class="panel-title">Question: <strong>{{ question.ordinal }}</strong></h4>
      </div>
      <div class="panel-body">
          <p>{{ question.content }}</p>
        <textarea id="response-{{ question.id }}" class="form-control" style="resize:vertical;" rows="20"></textarea>
      </div>
      <div class="panel-footer">
        {% if not forloop.parentloop.last or not forloop.last %}
        <button class="btn btn-info" onclick="next_question({{ question.id }})">Next Question <span class="glyphicon glyphicon-arrow-right"></span></button>
        {% else %}
        {% endif %}
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}

{% block javascript %}
{% include 'js/quiz.js' %}
{% endblock %}
